
Part_5_Advanced_Statistical_Methods_(Machine_Learning)/Linear Regression/Simple Linear Regression - GPA Problem/.ipynb_checkpoints/Basics with GPA Regression Formula-checkpoint.ipynb
Part_5_Advanced_Statistical_Methods_(Machine_Learning)/Multiple Linear Regression/Multiple Linear Regression - GPA Problem/.ipynb_checkpoints/Adjusted R-squared - GPA Problem-checkpoint.ipynb
